* {
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}


.popup-button,
.popup .close-popup-button {
    background-color: #F9FAFB;
    border: none;
    padding: 10px 15px;
    border-radius: 80px;
    text-transform: uppercase;
    color: #0F3263;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s;
    margin: 12px 0;
}

.popup-button:hover,
.popup .close-popup-button:hover {
    opacity: .8;
}

.popup-button:active,
.popup .close-popup-button:active {
    transform: scale(.8);
}

.popup {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 50px 60px;
    border-radius: 8px;
    text-align: center;
    width: 400px;
    box-sizing: border-box;
    transition: all .4s;
    z-index: -1;
    transform: scale(.4);
    opacity: 0;
}

.popup.opened {
    z-index: 999;
    transform: scale(1);
    opacity: 1;
}

.popup img {
    width: 100px;
}

.popup h2.title {
    color: #ee404c;
}

.popup p.desc {
    color: #FFF;
}